@import '../../index.scss';

.task-page {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;

  &__nav {
    width: 100px;
    padding-top: 20px;
    display: flex;
    margin-bottom: 30px;
  }

  &__back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    color: $durk-color;
    font-weight: bold;
  }

  &__back:hover {
    cursor: pointer;
    color: $bright-color;
    .arrow {background-color: $bright-color}
  }

  &__arrow {
    margin-right: 20px;
    transform: rotate(180deg);
    mask-image: url(../../img/arrow.svg);
    width: 14px;
    height: 14px;
    background-color: $durk-color;
  }

  &__description {
    width: 100%;
    height: 300px;
    background-color: #ebebee;
    border-radius: 5px;
    border: none;
    outline: none;
    opacity: .5;
  }
}

.actions {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.text_nowrap {
  white-space: nowrap;
}

.delete-btn, .save-btn {
  width: 80px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;

}

.delete-btn {
  background-color: #f5c2c7;
  font-weight: bold;
}

.save-btn {
  background-color: #ff611a;
  color: $simple-color;
}
