@import '../../index.scss';

.task-page {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;

  &__nav {
    width: 100px;
    padding-top: 20px;
    display: flex;
    margin-bottom: 30px;
  }

  &__back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    color: $durk-color;
  }

  &__back:hover {
    cursor: pointer;
    color: $bright-color;
    .arrow {background-color: $bright-color}
  }

  &__arrow {
    margin-right: 20px;
    transform: rotate(180deg);
    mask-image: url(../../img/arrow.svg);
    width: 14px;
    height: 14px;
    background-color: $durk-color;
  }

  &__description {
    width: 99%;
    border: none;
    outline: none;
  }
}

.actions {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.text_nowrap {
  white-space: nowrap;
}
