@import '../../../../index.scss';

.task {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid $basic-color;
  border-radius: 4px;
  margin-bottom: 5px;
  outline: none;
  background-color: $simple-color;

  &__input {
    margin-right: 15px;
  }
}

.task:hover {
  box-shadow: 0px 0px 6px -2px $durk-color;
}
