@import '../../../../index.scss';

.date-control {
  display: flex;

  &__info {
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid $basic-color;
    border-radius: 3px;
  }
}
