@import '../../index.scss';

.alert {
  width: 184px;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 5px;
  font-size: 12px;
  text-align: center;
  color: $danger-color;
  background-color: $alert-color;
  border: 1px solid $danger-color;
  border-radius: 5px;
}
