@import '../../index.scss';

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  color: $durk-color;
  font-weight: bold;
}

.signout {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #fff;
}

.signout:hover {color: $bright-color}
