@import '../../../../../index.scss';

.date-btn {
  width: 100%;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 5px;
  box-sizing: border-box;
  outline: none;

  &__today {
    border-color: $intense-color;
  }

  &__checked {
    border-color: $durk-color;
    background-color: $durk-color;
    color: $simple-color;
  }
}

.checked {

}
