@import '../../index.scss';

.register {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__nav {
    position: absolute;
    left: 0;
    top: 20px;
  }

  &__arrow {
    margin-right: 20px;
    transform: rotate(180deg);
    mask-image: url(../../img/arrow.svg);
  }
}


