@import '../../index.scss';

.task-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__container {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    overflow-y: auto;
  }

  &__container::-webkit-scrollbar {display: none}

  &__nav {
    width: 100px;
    padding-top: 20px;
    display: flex;
    margin-bottom: 30px;
  }

  &__back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    outline: none;
    color: $durk-color;
    font-weight: bold;
  }

  &__back:hover {
    cursor: pointer;
    color: $bright-color;
    .arrow {background-color: $bright-color}
  }

  &__arrow {
    margin-right: 20px;
    transform: rotate(180deg);
    mask-image: url(../../assets/img/arrow.svg);
    width: 14px;
    height: 14px;
    background-color: $durk-color;
  }

  &__description {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    background-color: #ebebee;
    border-radius: 5px;
    border: none;
    outline: none;
    opacity: .5;
  }
}

.text_nowrap {
  white-space: nowrap;
}


