@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

$simple-color: #fff;
$basic-color: #ebebee;
$lite-color: #a9a9a9;
$intense-color: #ff611a;
$durk-color: #1a1a1a;
$bright-color: #ffc120;
$danger-color: #842029;
$alert-color: #f5c2c7;

body {
  margin: 0;
  font-family: 'Roboto';
  color: $durk-color;
}

.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: $durk-color;
}

.link:hover {
  color: $bright-color;
  .arrow {background-color: $bright-color}
}

.arrow {
  width: 14px;
  height: 14px;
  background-color: $durk-color;
}

