@import '../../index.scss';

.tasker {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__link {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $durk-color;
    background-color: $intense-color;
    color: $simple-color;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
  }

  &__link:hover {background-color: $bright-color}
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  color: $durk-color;
  font-weight: bold;
  margin-bottom: 30px;
}

.signout {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #fff;
  font-weight: 700;
}

.signout:hover {color: $bright-color}

