@import '../../index.scss';

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.delete-btn, .save-btn {
  width: 80px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.delete-btn {
  background-color: #f5c2c7;
  font-weight: bold;
}

.save-btn {
  background-color: #ff611a;
  color: $simple-color;
}
